<%- include("partials/header.ejs"); -%>
  <div class="table-div">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 2.5%" scope="col">Cover</th>
          <th style="width: 21%" scope="col">Artist
            <div class="up-down-div">
              <a href="/collection/artist/1/<%= Number(page)%>"><i class="fas fa-caret-up"></i></a><a href="/collection/artist/-1/<%= Number(page)%>"><i
                  class="fas fa-caret-down"></i></a>
            </div>
          </th>
          <th style="width: 21%" scope="col">Ablum Name
            <div class="up-down-div">
              <a href="/collection/name/1/<%= Number(page)%>"><i class="fas fa-caret-up"></i></a><a href="/collection/name/-1/<%= Number(page)%>"><i
                  class="fas fa-caret-down"></i></a>
            </div>
          </th>
          <th style="width: 10%; text-align: center;" scope="col">Year of Release
            <div class="up-down-div">
              <a href="/collection/year/1/<%= Number(page)%>"><i class="fas fa-caret-up"></i></a><a href="/collection/year/-1/<%= Number(page)%>"><i
                  class="fas fa-caret-down"></i></a>
            </div>
          </th>
          <th style="width: 6%; text-align: center; " scope="col">Rating</th>
          <th style="width: 6%; text-align: center;" scope="col">Condition</th>
          <th style="width: 5%; text-align: center;" class="hidden-column" scope="col">
            <form action="/add">
              <button class="btn btn-primary add-button show-icon" type="submit" name="button">Add</button>
            </form>
          </th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(function(record){ %>
          <tr>
            <td style="text-align: center"><img class="cover-img" src=<%=record.img %> alt="cover prev."></td>
            <td>
              <%= record.artist %>
            </td>
            <td>
              <%= record.name %>
            </td>
            <td style="text-align: center">
              <%= record.year %>.
            </td>
            <td style="text-align: center">
              <%= record.rating %>
            </td>
            <td style="text-align: center">
              <%= record.condition %>
            </td>
            <td style="text-align: center" class="hidden-column">
              <form class="editDelete" action="/edit/<%= record._id %>/<%= orderBy %>/<%= order %>/<%= page %>" method="get">
                <button type="submit" name="button"><i class="fas fa-pen show-icon"></i></button>
              </form>
              <form class="editDelete" action="/delete/<%= record._id %>/<%= orderBy %>/<%= order %>/<%= page %>" method="post">
                <button type="submit" name="button"><i class="fas fa-trash-alt show-icon"></i></button>
              </form>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>

    <div class="pagination-holder">
      <form action="/collection/<%= orderBy %>/<%= order %>/<%= Number(page)-1 %>">
        <button type="submit" class="btn btn-primary"
          <% if(page == 1) { %>
            disabled
          <% } %>
        ><</button>
      </form>
      
      <div class="page-indicator"><%= page %></div>

      <form action="/collection/<%= orderBy %>/<%= order %>/<%= Number(page)+1 %>">
        <button type="submit" class="btn btn-primary" 
          <% if(!more) { %>
            disabled
          <% } %>
        >></button>
      </form>
    </div>

  </div>
  <div class="button-div">

  </div>

  <%- include("partials/footer.ejs"); -%>

    <a href="#"></a>